html, body, address, blockquote, div, dl, form, h1, h2, h3, h4, h5, h6, ol, p, pre, table, ul,
dd, dt, li, tbody, td, tfoot, th, thead, tr, button, del, ins, map, object,
a, abbr, acronym, b, bdo, big, br, cite, code, dfn, em, i, img, kbd, q, samp, small, span,
strong, sub, sup, tt, var, legend, fieldset {
  margin: 0;
  padding: 0;
}

img, fieldset {
  border: 0;
}

/* set image max width to 100% */
img {
  max-width: 100%;
  height: auto;
  width: auto\9; /* ie8 */
}
input, textarea, button, a{-webkit-tap-highlight-color:rgba(0,0,0,0);}
/* set html5 elements to block */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section { 
    display: block;
}
html{ -webkit-text-size-adjust:none;}

/************************************************************************************
GENERAL STYLING
*************************************************************************************/

a {
  color: #027B7E;
  text-decoration: none;
  outline: none;
}
a:hover {
  text-decoration: none;
}

p {
  padding: 0;
}

/* list */
ul, ol {

}
li {
  margin: 0 0 .5em 0;
  padding: 0;
}

/* headings */


/* reset webkit search input styles */
input[type=search] {
  -webkit-appearance: none;
  outline: none;
}
input[type="search"]::-webkit-search-decoration, 
input[type="search"]::-webkit-search-cancel-button {
  display: none;
}



body, div, dl, dt, dd, ul, ol, li,
h1, h2, h3, h4, h5, h6, pre, code,
form, fieldset, legend, input, button,
textarea, p, blockquote, th, td {
    margin: 0;
    padding: 0;
  }
fieldset, img {
    border: 0;
  }
ul,ol {
  list-style:none;
  }
table {
  border-collapse:collapse;
  border-spacing:0;
  }
a{
  text-decoration:none;
  }
a:hover{
  text-decoration:none;
  }
  
a:link {text-decoration:none}
a:visited {text-decoration:none}
a:hover {text-decoration:none}
a:active {text-decoration:none}
small {
  font-size:12px;
  }
h1,h2,h3,h4,h5,h6,button,input,select,textarea {
  font-size:100%;
  }
label,input,select,form img,button,textarea {
  vertical-align:middle;
  }
address, caption, cite, code, dfn,
em, strong, th, optgroup {
    font-style: normal;
    font-weight: normal;
  } 
.clear:after { 
    content: ".";
    display: block;
    height: 0;
    clear: both;
    visibility: hidden;
}
.clear {
  display: inline-block;
  }
/* Hides from IE-mac \*/
* html .clear {
  height: 1%;
  } 
.clear {
  display: block;

  } 

  @font-face {
  font-family: 'source';
  src:url('./font/test.ttf');
  font-weight: normal;
  font-style: normal;
}


/*使用指定字体*/
/* End hide from IE-mac */
html{width:100%;height:100%; overflow:hidden}
body{font:24px/1.5 "source";color:#000;width:100%;height:100%;
min-width:320px;background:#fff;
font-family: 'source';
letter-spacing: 1px;
}

.pages{
  width: 100%;
  height: 100%;
  background: #000;
  overflow: hidden;
  position: absolute;
  left: 0;
  top: 0;
}

#canvas{
  position: absolute;
}


.box{
  width: 100%;
  height: 100%;
  /*background:#d0701d;*/
}

.change_box{
  font-family: 'source';
}

.pnone{
  pointer-events: none;
}


.box.iphone_x{
  height: 1240px;
}

.scale_dia{
  animation:scale_dia_ani 0.16s linear 1;
  -webkit-animation:scale_dia_ani 0.16s linear 1;
}


@-webkit-keyframes scale_dia_ani {
    0% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

@keyframes scale_dia_ani {
    0% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }

    50% {
        -webkit-transform: scale(1.1);
        transform: scale(1.1);
    }

    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}


.star{
      position: absolute;
    left: -27px;
    top: -17px;
}

.star_unit{
  position: absolute;
  top: 40px;
  left: 57px;
  width: 185px;
  height: 35px;
  background: rgba(49,33,25,1);
  border-radius: 5px;
      transform: scale(0.5) translate(-160px,-68px);
}

#level_num{
      position: absolute;
    font-size: 26px;
    color: #a67e1c;
    left: 14px;
    top: 11px;
    text-align: center;
}

.prog_in_s{
  width: 182px;
}

.prog_in{
  /*background: url(../images/l_jd_01.png) repeat-x;*/
  width: 60%;
  height: 30px;
  margin-top: 2px;
  border-radius: 5px;
}

.power_unit{
      position: absolute;
    top: 40px;
    left: 352px;
    width: 195px;
    height: 35px;
    background: rgba(49,33,25,1);
    border-radius: 5px;
    transform: scale(0.5) translate(-530px,-68px);
}

.lightning_icon{
        position: absolute;
    z-index: 2;
    left: -28px;
    top: -18px;
}

.power_unit .plus_icon{
  /*transform: scale(1.1);*/
      position: absolute;
    right: -28px;
    top: -10px;
    z-index: 2;
}

.power_in_s{
  width: 195px;
  position: relative;
  z-index: 1;
}

.power_in{
  /*background: url(../images/r_jd1.png) repeat-x;*/
  width: 100%;
  height: 30px;
  margin-top: 2px;
  border-radius: 5px;
}

#power_num{
  width: 100px;
  font-size: 24px;
  color: #72ff00;
  text-align: center;
      position: absolute;
    left: 44px;
    top: -2px;
    /*-webkit-text-stroke:2px #312119;*/
    text-shadow: 0 1px #312119, 1px 0 #312119, -1px 0 #312119, 0 -1px #312119;
}


.coin_unit{
      position: absolute;
    left: 400px;
    top: 128px;
    width: 167px;
    height: 35px;
    background: rgba(49,33,25,0.8);
    border-radius: 5px;
    transform: scale(0.5) translate(-342px,-245px);
}

.coin_unit .plus_icon{
      position: absolute;
    right: -28px;
    top: -10px;
    z-index: 2;
}

.coin_big{
  position: relative;
      z-index: 2;
    left: -24px;
    top: -10px;
}

#coin_num{
  position: absolute;
  text-align: center;
  color: #fff;
  top: 0;
  width: 100%;
  z-index: 2;
  font-size: 24px;
}




.diamonds_unit{
      position: absolute;
    left: 420px;
    top: 208px;
    width: 137px;
    height: 35px;
    background: rgba(49,33,25,0.8);
    border-radius: 5px;
    transform: scale(0.5) translate(-130px,-408px);
}

.diamonds_unit .plus_icon{
      position: absolute;
    right: -28px;
    top: -10px;
    z-index: 2;
}

.diamonds{
  position: relative;
      z-index: 2;
    left: -24px;
    top: -10px;
}

#diamonds_num{
  position: absolute;
  text-align: center;
  color: #fff;
  top: 0;
  width: 100%;
  z-index: 2;
  font-size: 24px;
}


.ending_page{
  /*background: rgba(41,151,179,0.75);*/
  /*background: url(../images/ending_bg.jpg) center no-repeat;*/
}

.play_btn{
  width: 138px;
  height: 48px;
  /*background: url(../images/play_btn.png) center no-repeat;*/
  position: absolute;
  left: 50%;
  margin-left: -69px;
  bottom: 5px;
}



.scale_back1{
  animation:scale_back1 2s ease-in-out infinite;
  -webkit-animation:scale_back1 2s ease-in-out infinite;
  display: block!important;
  /*transform-origin: 30% 30%;*/
}

@-webkit-keyframes scale_back1 {
    0% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }

    50% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

@keyframes scale_back1 {
    0% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }

    50% {
        -webkit-transform: scale(0.9);
        transform: scale(0.9);
    }

    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

.start1{
  -webkit-animation: start1 1.0s infinite ease-in-out;
  animation: start1 1.0s infinite ease-in-out;
  display: block;
}



@-webkit-keyframes start1 {
  0% {-webkit-transform: translate(0px,-5px);}
  50% {-webkit-transform: translate(0,5px);}
  100% {-webkit-transform: translate(0px,-5px);}
}

@keyframes start1 {
    0% {-webkit-transform: translate(0px,-5px);}
  50% {-webkit-transform: translate(0,5px);}
  100% {-webkit-transform: translate(0px,-5px);}
}



.scale_back2{
  animation:scale_back1 1s linear infinite;
  -webkit-animation:scale_back1 1s linear  infinite;
  display: block!important;
}

@-webkit-keyframes scale_back1 {
    0% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }

    50% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }

    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}

@keyframes scale_back1 {
    0% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }

    50% {
        -webkit-transform: scale(0.95);
        transform: scale(0.95);
    }

    100% {
        -webkit-transform: scale(1.0);
        transform: scale(1.0);
    }
}


.rotate_img1{
  animation:rotate_img1 0.5s ease-in-out 1 forwards;
  -webkit-animation:rotate_img1 0.5s ease-in-out 1 forwards;
}


@-webkit-keyframes rotate_img1 {
    0% {
        opacity: 0;
        -webkit-transform: rotate(14deg);
        transform: rotate(14deg);
    }


    100% {
      opacity: 1;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}

@keyframes rotate_img1 {
    0% {
      opacity: 0;
        -webkit-transform: rotate(14deg);
        transform: rotate(14deg);
    }


    100% {
      opacity: 1;
        -webkit-transform: rotate(0deg);
        transform: rotate(0deg);
    }
}


